{% extends "layout.html" %}
{% macro textarea(name, desc, lines, required, labeled, vertical) -%}
    {% if labeled %}<label style="vertical-align: top;" for="{{ name }}">{{ desc }}</label>{% if label_above %}<br />{% endif %}{% endif %}
    <textarea class="form-control" name="{{ name }}" id="{{ desc }}" placeholder="{{ desc }}" rows="{{ lines }}" class="form-control"{% if required %} required{% endif %}></textarea>
{%- endmacro %}
{% macro emailbox(name, desc, required, labeled) -%}
<div class="form-group">
    {% if labeled %}<label class="control-label" for="{{ name }}" class="form-control">{{ desc }}</label>{% endif %}
    <div class="col-sm-10">
        <input type="email" name="{{ name }}" placeholder="{{ desc }}" class="form-control"{% if required %} required{% endif %}/>
    </div>
</div>
{%- endmacro %}
{% macro textbox(name, desc, required, labeled) -%}
    {% if labeled %}<label>{{ desc }}</label>{% endif %}
    <input type="text" name="{{ name }}" placeholder="{{ desc }}" {% if required %}required{% endif %}/>
{%- endmacro %}
{% macro togglebutton(name, desc, on_value, off_value, required, labeled) -%}
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" autocomplete="off" value="{{ desc }}" name="{{ name }}"> {{ desc }}
      </label>
    </div>
{%- endmacro %}
{% macro checkbox(name, desc, value, required, labeled) -%}
    {% if labeled %}
        {{ desc }}
    {% endif %}
    <input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {% if required %}required{% endif %}/>
{%- endmacro %}
{% macro select(name, desc, options, required, lebeled, multiple) -%}
{% if labeled %}<label>{{ desc }}</label>{% endif %}
{% if multiple %}
<select name="{{ name }}" id="{{ name }}" size="1" {% if required %}required{% endif %} multiple="multiple">
{% else %}
<select name="{{ name }}" id="{{ name }}" size="1" {% if required %}required{% endif %}>
    <option>None selected</option>
{% endif %}
    <optgroup label="{{ desc }}">
    {% for option in options %}
        <option value="{{ option['value'] }}">{{ option['desc'] }}</option>
    {% endfor %}
    </optgroup>
</select>
<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ name }}').multiselect({buttonWidth: '20em'});
    });
</script>
{% if multiple %}
{% endif %}
{%- endmacro %}
{% block title %} - Client Registration{% endblock %}
{% block heading %}Client Registration{% endblock %}
{% block body %}
<script language="JavaScript">
    function prepare() {
        elements = document.forms["register_client"].elements;
        for (var hidden_index = 0; hidden_index < elements.length; hidden_index++) {
            if(elements[hidden_index].type == "hidden") {
                composite = 0;
                // _ is used to indicate a constituent field, also referenced in routes.py
                parts = document.getElementsByName("_"+elements[hidden_index].name);
                for (var parts_index = 0; parts_index < parts.length; parts_index++) {
                    if (parts[parts_index].type == "checkbox") {
                        if (parts[parts_index].checked) {
                            composite += parseInt(parts[parts_index].value);
                        }
                    } else {
                        alert ("Unhandled control type - " + parts[parts_index].type);
                    }
                }
                elements[hidden_index].value = composite;
            }
        }
    }
</script>
<form name="register_client" method="post" action="/client" class="form-horizontal">
{% for group in groups %}
    <fieldset name="{{ group['name'] }}">
    <h3>{{ group['name'] }}</h3>
    {% for sub_group in group['sub_groups'] %}
        <h4>{{ sub_group['sub_group'] }}</h4>
        <!--{% if sub_group['alignment']|lower == 'vertical' %}<dl>{% endif %}-->
        {% for member in sub_group['members'] %}
            {% if sub_group['alignment']|lower == 'vertical' %}
                <!--<dt>{{ member['desc'] }}</dt>-->
                <!--<dd>-->
            {% endif %}
            {% if member['type'] in ('str', 'int') %}
                {% if member['count'] %}
                    {% for n in range(member['count']) %}
                        {{ textbox(member['field'] ~ '[' ~ n ~ ']', member['desc'], member['required'], False) }}
                    {% endfor %}
                {% elif member['count_min'] %}
                    <br />
                    {{ textarea(member['field'], member['desc'], member['count_min'], member['required'], True) }}
                {% else %}
                    {{ textbox(member['field'], member['desc'], member['required'], False) }}
                {% endif %}
            {% elif 'email' in member['type'] %}
                {{ emailbox(member['field'], member['desc'], member['required'], False) }}
            {% elif member['type'] == 'bool' %}
                {{ togglebutton(member['field'], member['desc'], 'Yes', 'No', member['required'], sub_group['alignment']|lower != 'vertical') }}<br />
            {% elif member['type']|lower == 'enum' %}
                {% if sub_group['alignment']|lower != 'vertical' %}
                    <h5>{{ member['desc'] }}</h5>
                {% endif %}
                {% if 'int' in member['type'] %}
                    {% for option in member['options'] %}
                        {{ checkbox("_"+member['field'], option['desc'], option['value'], member['required']) }}<br />
                    {% endfor %}
                {% else %}
                    {{ select(member['field'], member['desc'], member['options'], member['required'], False, member['multiple']) }}
                {% endif %}
            {% elif member['type'] in ('date', 'month') %}
                {% if sub_group['alignment']|lower != 'vertical' %}
                    {% if loop.length == 1 %}
                        <h5>{{ member['desc'] }}</h5>
                    {% else %}
                        <label>{{ member['desc'] }}</label>
                    {% endif %}
                {% endif %}
                <input type="{{ member['type'] }}" name="{{ member['field'] }}" {% if member['required'] %}required{% endif %}/>
            {% elif member['type'] == 'bytes' %}
<!--https://stackoverflow.com/questions/3096470/capture-signature-using-html5-and-ipad-->
            {% else %}
<!--Unhandled member type: {{ member['desc'] }}({{ member['field'] }}: {{ member['type'] }})-->
            {% endif %}
            <!--{% if sub_group['alignment']|lower == 'vertical' %}</dd>{% endif %}-->
        {% endfor %}
        <!--{% if sub_group['alignment']|lower == 'vertical' %}</dl>{% endif %}-->
        <br />
    {% endfor %}
    </fieldset>
{% endfor %}
    <input type="submit" value="Register" onClick="prepare();"/>
</form>
{% endblock %}

